<template>
  <el-row :gutter="20">
    <el-col :span="8">
      <el-descriptions column="1" border>
        <el-descriptions-item label="Group">
          {{ member.group.nama }}
        </el-descriptions-item>

        <el-descriptions-item label="Nama">
          {{ member.nama }}
        </el-descriptions-item>

        <el-descriptions-item label="Nomo HP">
          {{ member.phone }}
        </el-descriptions-item>

        <el-descriptions-item label="Nomor Kartu">
          {{ member.nomor_kartu }}
        </el-descriptions-item>

        <el-descriptions-item label="Jenis">
          {{ member.berbayar ? "Berbayar" : "Gratis" }}
        </el-descriptions-item>

        <el-descriptions-item label="Tanggal Daftar">
          {{ member.register_date }}
        </el-descriptions-item>

        <el-descriptions-item label="Tanggal Kedaluarsa">
          {{ member.expiry_date }}
        </el-descriptions-item>

        <el-descriptions-item label="Siklus Pembayaran">
          {{ member.siklus_pembayaran }}
          {{ getSiklus(member.siklus_pembayaran_unit) }}
        </el-descriptions-item>

        <el-descriptions-item label="Tarif">
          {{ toRupiah(member.tarif) }}
        </el-descriptions-item>

        <el-descriptions-item label="Terakhir Masuk">
          {{
            member.last_in
              ? moment(member.last_in).format("DD-MMM-YYYY HH:mm:ss")
              : ""
          }}
        </el-descriptions-item>

        <el-descriptions-item label="Terakhir Keluar">
          {{
            member.last_out
              ? moment(member.last_out).format("DD-MMM-YYYY HH:mm:ss")
              : ""
          }}
        </el-descriptions-item>

        <el-descriptions-item label="Status">
          {{ member.status ? "Aktif" : "Nonaktif" }}
        </el-descriptions-item>
      </el-descriptions>
    </el-col>
    <el-col :span="16">
      <el-tabs>
        <el-tab-pane label="KENDARAAN">
          <el-table :data="member.vehicles">
            <el-table-column
              prop="jenis_kendaraan"
              label="Jenis Kendaraan"
            ></el-table-column>
            <el-table-column
              prop="plat_nomor"
              label="Plat Nomor"
            ></el-table-column>
            <el-table-column prop="merk" label="Merk"></el-table-column>
            <el-table-column
              prop="tipe"
              label="Tipe"
              show-overflow-tooltip
            ></el-table-column>
            <el-table-column prop="tahun" label="Tahun"></el-table-column>
            <el-table-column prop="warna" label="Warna"></el-table-column>
            <el-table-column
              prop="uhf_tag_number"
              label="UHF Tag Number"
            ></el-table-column>

            <el-table-column prop="uhf_expiry_date" label="UHF Tag Expiry">
              <template #default="{ row }">
                {{ moment(row.uhf_expiry_date).format("DD/MMM/YYYY") }}
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </el-col>
  </el-row>
</template>

<script setup>
import moment from "moment";
const { member } = defineProps(["member"]);
</script>
