<template>
  <form class="flex mb-3 justify-content-end" @submit.native.prevent>
    <el-button
      size="small"
      @click="openForm()"
      type="primary"
      :icon="Plus"
      class="mr-2"
    >
      TAMBAH ROOM
    </el-button>

    <el-input
      size="small"
      v-model="keyword"
      placeholder="Cari"
      :prefix-icon="Search"
      :clearable="true"
      @clear="requestData"
      style="width: 200px"
    >
    </el-input>
  </form>

  <el-table
    :data="tableData.data"
    stripe
    height="calc(100vh - 310px)"
    v-loading="loading"
  >
    <el-table-column
      type="index"
      :index="tableData.from"
      label="#"
    ></el-table-column>

    <el-table-column prop="name" label="Nama"></el-table-column>

    <el-table-column
      prop="members_count"
      label="Jumlah Member"
      align="center"
      header-align="center"
    ></el-table-column>

    <el-table-column
      prop="description"
      label="Keterangan"
      show-overflow-tooltip
    ></el-table-column>

    <el-table-column
      fixed="right"
      width="60px"
      header-align="center"
      align="center"
      v-if="user.role == 1"
    >
      <template #header>
        <el-button link @click="refreshData" :icon="Refresh"> </el-button>
      </template>
      <template #default="{ row }">
        <el-dropdown>
          <span class="el-dropdown-link">
            <el-icon>
              <MoreFilled />
            </el-icon>
          </span>
          <template #dropdown>
            <el-dropdown-menu>
              <el-dropdown-item
                :icon="Edit"
                @click.native.prevent="openForm(row)"
              >
                Edit
              </el-dropdown-item>
              <el-dropdown-item
                :icon="Delete"
                @click.native.prevent="deleteData(row.id)"
              >
                Hapus
              </el-dropdown-item>
            </el-dropdown-menu>
          </template>
        </el-dropdown>
      </template>
    </el-table-column>
  </el-table>

  <br />

  <el-pagination
    v-if="tableData.total"
    size="small"
    class="text-right"
    background
    @current-change="currentChange"
    @size-change="sizeChange"
    layout="total, sizes, prev, pager, next"
    :page-size="pageSize"
    :page-sizes="[10, 25, 50, 100]"
    :total="tableData.total"
  ></el-pagination>

  <el-dialog
    v-model="showForm"
    :title="!!formModel.id ? 'EDIT ROOM' : 'TAMBAH ROOM'"
    width="700px"
    v-loading="loading"
    :close-on-click-modal="false"
  >
    <el-form label-width="100px" label-position="left">
      <el-form-item label="Nama" :error="formErrors.name?.join(', ')">
        <el-input
          :placeholder="
            formModel.id
              ? `Nama`
              : `Pisahkan dengan koma tanpa spasi untuk multiple (contoh: 101,102,103)`
          "
          v-model="formModel.name"
        ></el-input>
      </el-form-item>

      <el-form-item
        label="Keterangan"
        :error="formErrors.description?.join(', ')"
      >
        <el-input
          placeholder="Keterangan"
          v-model="formModel.description"
        ></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <el-button :icon="CircleCloseFilled" @click="closeForm">
        BATAL
      </el-button>
      <el-button
        :icon="SuccessFilled"
        type="primary"
        @click="save(getRoomList)"
      >
        SIMPAN
      </el-button>
    </template>
  </el-dialog>
</template>

<script setup>
const { getRoomList } = useWebsiteStore();
const { user } = useSanctumAuth();

import {
  Refresh,
  Plus,
  SuccessFilled,
  CircleCloseFilled,
  Edit,
  Delete,
  MoreFilled,
  Search,
} from "@element-plus/icons-vue";

const {
  showForm,
  formErrors,
  formModel,
  pageSize,
  tableData,
  loading,
  keyword,
  currentChange,
  sizeChange,
  openForm,
  save,
  deleteData,
  closeForm,
  requestData,
  searchData,
  refreshData,
} = useCrud("/api/room");

onMounted(() => {
  requestData();
});
</script>
