html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.el-icon-more {
  /* transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); */
  color: #aaa;
}

.el-table {
  width: 100%;
  border-top: 1px solid #eee;
}

.no-padding-dialog > .el-dialog__body {
  padding: 0px;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white,
.text-white:hover,
.text-white:active,
.text-white:focus {
  color: #fff !important;
}

.bg-blue {
  background-color: blue !important;
}

.bg-indigo {
  background-color: indigo !important;
}

.bg-purple {
  background-color: purple !important;
}

.bg-pink {
  background-color: pink !important;
}
.bg-red {
  background-color: red !important;
}

.bg-orange {
  background-color: orange !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.bg-green {
  background-color: green !important;
}

.bg-teal {
  background-color: teal !important;
}

.bg-cyan {
  background-color: cyan !important;
}

.el-table th,
.el-table thead.is-group th {
  padding: 4px 0;
}

.text-red,
.text-danger {
  color: red;
}

.text-green,
.text-success {
  color: green;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
}

.table {
  width: 100%;
  border-top: 2px solid #ddd;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.el-table .inactive-row {
  background: #ffeff0;
}

.el-table .cell,
.el-dialog__body {
  word-break: normal;
}

.brand {
  font-size: 22px;
  margin-left: 20px;
}

.brand-box {
  height: 150px;
  background-color: #060446;
  text-align: center;
  color: #fff;
}

.btn-big {
  font-size: 22px;
}

.el-header {
  background-color: #254ec1;
  color: #fff;
  line-height: 60px;
}

.sidebar {
  background-color: #060446;
  border-color: #060446;
  height: calc(100vh - 150px);
  overflow: auto;
}

.sidebar:not(.el-menu--collapse) {
  width: 200px;
}

.el-aside {
  height: 100vh;
  background-color: #060446;
}

.el-main {
  background-color: #efefef;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.ml-3 {
  margin-left: 15px;
}

.mr-2 {
  margin-right: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.ml-5 {
  margin-left: 25px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: 2em;
}

.text-2xl {
  font-size: 2em;
}

.text-5xl {
  font-size: 2.5em;
}

.text-purple-700 {
  color: purple;
}

.text-blue-700 {
  color: blue;
}

.text-orange-700 {
  color: orange;
}

.border {
  border: 1px solid #ddd;
}

/* backgrounds */

.bg-orange-600 {
  background-color: orange;
}

.bg-red-300 {
  background-color: red;
}

.bg-red-700 {
  background-color: red;
}

.bg-green-300 {
  background-color: green;
}

.bg-purple-600 {
  background-color: purple;
}

.bg-blue-600 {
  background-color: blue;
}

.bg-blue-700 {
  background-color: #254ec1;
}

.bg-green-600 {
  background-color: green;
}

.bg-gray-200 {
  background-color: #ccc;
}

.rounded-md {
  border-radius: 4px;
}

.min-w-full {
  min-width: 100%;
}

.border-b {
  border-bottom: 1px solid #ddd;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 15px;
  padding-right: 15px;
}


.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mx-auto {
  margin: 0 auto;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

